.board {
    display: grid;
    grid-template: repeat(8, 50px) / repeat(8, 50px);
    margin: 100px;
    border: 2px solid black;
}

.sup-board {
    display: grid;

}

.sup-board>* {
    grid-area: 1/1;
}